body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6fb;
  color: #222;
}

header {
  background: linear-gradient(135deg, #071952, #088395);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

header h1 {
  font-size: 45px;
}

header a, button {
  background: #ffcc00;
  color: black;
  padding: 12px 25px;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

section {
  padding: 50px 10%;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.cards div {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #0002;
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 25px;
  background: #071952;
  color: white;
}

footer a {
  color: #ffcc00;
}

.login-box {
  max-width: 350px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px #0002;
}

table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  background: white;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}